[Unit]
Description=Ethereum gas oracle service

[Service]
Type=simple
WorkingDirectory=/srv/local/eth-gasexpress
Environment="PYTHONPATH=/srv/local/eth-gasexpress/vendor" "GASSTATION_RPC=%host%:%port%"
User=%user%
Restart=on-failure
ExecStart=/usr/bin/python3 /srv/local/eth-gasexpress/gasExpress.py

[Install]
WantedBy=multi-user.target
