Package: eth-gasexpress
Version: ::VERSION::
Section: main
Priority: optional
Architecture: all
Depends: python3, python3-pip, debconf
Installed-Size: 0
Maintainer: https://github.com/ethgasstation/gasstation-express-oracle/issues
Description: A python service that provides an oracle to query gas quantities for various contracts on Ethereum
 This package provides a simple script that connects to an Ethereum node and provides information about
 gas quantities for contracts specified in the query.

